// Global styles for the app
// Primary Palette
$intusBlue: #4d7ef8;
$intusBlue50: rgba(77, 126, 248, 50);
$intusNavy: #062d8f;

//Grayscale Palette
$white: #ffffff;
$offWhite: #e5e5e5;
$inputBlack: #f1f2f3;
$labels: #97999b;
$body: #626275;
$black: #000000;
$black50: rgba(0, 0, 0, 50);

// Text
h2 {
  font-weight: 700;
  font-size: 28;
  font-family: Mulish, Arial, sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 20;
  font-family: Mulish, Arial, sans-serif;
}

p {
  font-weight: normal;
  font-size: 20;
  font-family: Mulish, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: none;
  background-color: none;
}

img:hover {
  cursor: pointer;
}

// Buttons

body {
  background-color: $offWhite;
}

.header {
  background-color: $white;
}

.participants-header {
  color: $intusNavy;
  margin: 1.5rem 3rem 0;
}

.participants-container {
  margin-top: 1rem;
  background-color: $white;
  box-shadow: 0px 0.2px 0.1rem 0.01rem $black50;
  border: none;
  border-radius: 20px;
}

.participants-column-headers {
  color: $labels;
}

hr {
  margin-top: 0;
}

.participant-card {
  border-radius: 20px;
}

.participant-card:hover {
  box-shadow: 0px 0.4px 0.4rem 0.06rem $intusBlue50;
  border: 1.2px solid $intusBlue50;
  border-radius: 20px;
}

.participant-name {
  color: $body;
  padding-left: 1rem;
}

.icd-code {
  color: $intusNavy;
}

// Participant Focused Styles
.back-button {
  background-color: $intusBlue;
  border-radius: 10px;
  color: $white;
  margin: 1.4rem 2rem 0;
  padding: 0.5rem 2rem;
  border: none;
}

.diagnosis-participant-name {
  color: $body;
  padding-top: 1.5rem;
  margin: 0 2rem;
}

.diagnosis-hr {
  margin: 1rem 2rem;
}

.diagnosis-title {
  color: $labels;
  margin: 0 2rem 1rem;
}

.diagnosis-card {
  background-color: $inputBlack;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 2rem;
  border-radius: 20px;
}
